---
import Layout from "../layouts/Layout.astro";
import CardPelicula from "../components/CardPelicula.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allReviews = await getCollection("reviews");
---

<Layout title="Lo veo y te digo | Reseñas de Cine">
  <h2
    class="font-serif text-2xl font-bold mb-8 text-gray-900 dark:text-white border-b border-gray-200 dark:border-gray-800 pb-2"
  >
    Últimas Reseñas
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-12">
    {
      allReviews.map((post) => (
        <CardPelicula
          title={post.data.title}
          filmTitle={post.data.filmTitle}
          year={post.data.year}
          rating={post.data.rating}
          poster={post.data.cover ? post.data.cover : post.data.poster}
          slug={post.id}
        />
      ))
    }
  </div>
</Layout>
